#chapter_container {
    background: #eeeeee;

    display: none;
    max-width: 100%;
    min-height: 90vh;
    z-index: 1;

    font-family: Arial, Helvetica, sans-serif;
}

.card {
    position: relative;
    overflow: auto;

    background-color: white;
    padding-left: 5px;

    margin: 5px;
    margin-right: 2px;

    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
}

.card_main {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.card_icon {
    flex: initial;
    align-self: top;
}

.card_name {
    margin-left: 0px;
    margin-right: auto;
    display: none;
}

.card_text {
    flex: 1;
    align-self: center;
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.card_bookmark {
    position: absolute;
    right: 0;
    top: 0;

    margin-right: 12px;
    margin-left: auto;
}
.card_bookmark input[type="checkbox"] {
    display:none;
}
.card_bookmark input[type="checkbox"] + .card_bookmark_icon {
    background:url('../icons/bookmark-inactive.png') left top no-repeat;
    background-size: 100%;
}

.card_bookmark input[type="checkbox"]:checked +  .card_bookmark_icon {
    background:url('../icons/bookmark-active.png') left top no-repeat;
    background-size: 100%;
}
/* .card_bookmark input[type="checkbox"]:active +  .icon {
    background:url('../icons/bookmark-hover.png') left top no-repeat;
} */
/* Lesezeichen rot, wenn angeklickt wird, Haken bleibt weg. */


.card_bookmark_icon {
    width: 20px;
    height: 20px;
}
.card_info input[type="checkbox"] {
    display:none;
}
.card_info input[type="checkbox"] + .card_info_icon {
    background:url('../icons/arrow-down.png') left top no-repeat;
    background-size: 100%;
}

.card_info_icon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 12px;

    height: 20px;
    width: 20px;
}

.card_info input[type="checkbox"]:checked + .card_info_icon {
    background:url('../icons/arrow-up.png') left top no-repeat;
    background-size: 100%;
}
.card_info_text_container {
    max-height: 0;
    overflow: hidden;

	/* Set our transitions up. 
	-webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;*/
}
.card_info_text {

    padding-left: 43px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.card_info input[type="checkbox"]:checked + .card_info_icon + .card_info_text_container {
    max-height: 1000px;
}