.subtitle_checkbox {
    display: none;
} 

.subtitle_div {
    padding: 10px;
}

.subtitle_label {
    display: block;

    background: white;

  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;

  border-radius: 5px;

  padding: 1rem;

  cursor: pointer;

  transition: all 0.25s ease-out;
} 

.subtitle_label::before {
    content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

/* .subtitle_content .subtitle_inner {
    background: rgba(250, 224, 66, .2);
    border-bottom: 1px solid rgba(250, 224, 66, .45);
  
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
  } */

.subtitle_content {
    background: white;
    border-radius: 0px 0px 5px 5px;

    max-height: 0px;
    overflow: hidden;

    transition: max-height .25s ease-in-out;
}  

.subtitle_checkbox:checked + .subtitle_label + .subtitle_content {
    max-height: 1000px; 
}

.subtitle_checkbox:checked + .subtitle_label::before {
    transform: rotate(90deg) translateX(-3px);
}

.subtitle_checkbox:checked + .subtitle_label {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}